<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <link href='https://css.gg/play-button-r.css' rel='stylesheet'>
    </head>

    <body style="background-color: lavender;">
        <header>
            <h2 style="color: rgb(0, 0, 0); background-color:#1EAEDB;">&nbsp; SongBook</h2>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <h6 style="background-color: #1EAEDB; margin-top:49.5%">&nbsp; &copy 2021 - Todos los derechos reservados</h6>
        </footer>
    </body>
</html>